{% extends "myapp/mother_frame.html"%}
{% block maincontent %}

<div class="row">

                    <div class="col-md-12">
					    <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div class="portlet box purple">
                                <div class="portlet-title">
                                    <div class="caption">
                                            <i class="fa fa-globe"></i>Universities Pending Approval </div>
                                        <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-hover" id="sample_1">
                                        <thead>
                                        <tr>
                                            <th>
                                                #
                                            </th>
                                            <th>
                                                Full Name
                                            </th>
                                            <th>
                                                Date Reg.
                                            </th>
                                            <th>
                                                Address
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            <th>
                                                Phone
                                            </th>
                                            <th>
                                                Image
                                            </th>
                                            <th>
                                                &nbsp;
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {%for au in pending%}
                                        <tr>
                                            <td>
                                                {{forloop.counter}}
                                            </td>
                                            <td>
                                                {{au.uniname}} ({{au.abbr}})
                                            </td>
                                            <td>
                                            {{au.created_at}}
                                            </td>
                                            <td>
                                            {{au.address}}
                                            </td>
                                            <td>
                                            {{au.univemail}}
                                            </td>
                                            <td>
                                            {{au.phone}}
                                            </td>
                                            <td>
                                                <img width="50" src="../static/myapp/uploads/{{au.logo }}" alt="image"/>
                                            </td>
                                            <td>
                                            <form onsubmit="return confirm('Are you sure you want to approve?') " action="/approveuni/" method="post" name="approveform">
                                                {%csrf_token%}
                                                <input type="hidden" name="appid" value="{{au.univemail}}">
                                                <button title="Approve" type="submit" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-ok"></i></button>
                                            </form>
                                            <form onsubmit="return confirm('Delete!') " action="/removeuni/" method="post" name="deleteform">
                                                {%csrf_token%}
                                                <input type="hidden" name="delid" value="{{au.univemail}}">
                                                <button title="Delete" type="submit" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
                                            </form>
                                            </td>
                                        </tr>
                                        {%endfor%}

                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
					    <!-- END SAMPLE TABLE PORTLET-->
				    </div>
                    </div>

                    </div>
                    <!-- END CONTENT BODY -->
                </div>
{% endblock %}